
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fal fa-syringe fa-3x"></i>
            <div class="info">
                <h4>Số lượng mũi đã tiêm</h4>
                <p><b>5</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small info coloured-icon">
            <i class="icon fal fa-shield-virus fa-3x"></i>
            <div class="info">
                <h4>Số lượng vắc xin</h4>
                <p><b>25.000.000</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small warning coloured-icon">
            <i class="icon fa fa-files-o fa-3x"></i>
            <div class="info">
                <h4>Đăng ký tiêm</h4>
                <p><b>10.546</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small danger coloured-icon">
            <i class="icon fal fa-map-marker-alt fa-3x"></i>
            <div class="info">
                <h4>Điểm tiêm chủng</h4>
                <p><b>500</b></p>
            </div>
        </div>
    </div>
</div>

