
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@section dashboardJS
{
    <script src="~/Scripts/quan-ly-gcn.js"></script>
    <script src="~/Scripts/api-hanh-chinh-vn-dashboard.js"></script>
}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-success" type="button" id="btnAdd">Thêm mới</button>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="font-weight-bold">Mã giấy chứng nhận</label>
                    <input type="text" id="idDTC" class="form-control" />
                </div>
                <div class="form-group col-md-3">
                    <label class="font-weight-bold">Lô vắc xin</label>
                    <input type="text" id="loVaccine" class="form-control" />
                </div>
                <div class="form-group col-md-3">
                    <label class="font-weight-bold">Tên điểm tiêm</label>
                    <input type="text" id="tenDTC" class="form-control" />
                </div>
            </div>
            <div class="form-group row col-md-4">
                <label class="required">Người lập</label><br />
                <select id="ddlNguoiLap" class="form-control col-md-3" disabled>
                </select>
            </div>
            <div class="tile-footer text-right">
                <button class="btn btn-primary" type="button" id="btnSearch">Tìm kiếm</button>
            </div>
        </div>
        <div class="tile">
            <table class="table table-hover table-bordered custom-table" id="tblResult">
                <thead>
                    <tr>
                        <th>Mã giấy</th>
                        <th>Số mũi</th>
                        <th>Thời gian tiêm</th>
                        <th>Tên vắc xin</th>
                        <th>Lô vắc xin</th>
                        <th>Người lập</th>
                        <th>Nơi cấp</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>