
:root {
    --primaryColor: #385399;
    --primaryColorLight: #6384d9;
    --primaryColorHover: #02206f;
    --borderBox: 1px solid #d4d4d4;
    --secondPrimaryColor: #179c8c;
    --secondPrimaryColorHover: #127a6e;
    --secondPrimaryColorActive: #10695f;
    --lightGrayColor: #e0e0e0;
}

.footer {
    background-color: var(--secondPrimaryColor) !important;
    min-height: 100px;
    padding: 15px;
    padding-bottom: 30px;
}

.brand-logo {
    width: 40px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 65px;
    padding-bottom: 50px;
    min-height: calc( 100vh - 100px - 75px);
}

/* Set width on the form input elements since they're 100% wide by default */

.navbar {
    border-radius: 0 !important;
}

    .navbar * {
        color: var(--primaryColor) !important;
    }

        .navbar *:hover {
            color: var(--primaryColorHover) !important;
        }

.navbar-menu-right {
    justify-content: right;
}

.dropdown-item:active {
    color: var(--primaryColorHover) !important;
}

label.error {
    color: var(--danger) !important;
    margin: 0 !important;
}

.required::after {
    content: '(*)';
    margin-left: 5px;
    color: var(--danger);
}

button:focus,
.btn:focus {
    box-shadow: none !important;
}

.submit-form-btn {
    width: 150px;
}

.btn-submit {
    background-color: var(--primaryColor);
    color: #fff;
}

    .btn-submit:hover,
    .btn-submit:active,
    .btn-submit:focus {
        background-color: var(--primaryColorHover) !important;
        box-shadow: none !important;
        outline: none !important;
        color: #fff;
    }

.popup-alert {
    max-width: 500px;
    position: fixed;
    top: 0;
    right: -100vw;
    margin-top: 70px;
    margin-right: 10px;
    z-index: 1032;
    opacity: 0.9;
    transition: 0.5s;
}
@media (max-width: 910px) {
    .jumbotron *, .btn {
        font-size: 2vw;
    }

    .jumbotron h1 {
        font-size: 2.5vw;
    }
}

@media (max-width: 768px) {
    body *, .jumbotron *, .btn {
        font-size: 3vw;
        word-break: keep-all !important;
    }

    .jumbotron h1 {
        font-size: 3.5vw;
    }

    .navbar * {
        font-size: 3vw;
    }

    .navbar img {
        width: 30px;
    }
}
